<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Chords</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Settings <span class="sr-only">(current)</span></a>
				</li>
			</ul>
		</div>
	</nav>
	<ul class="set keyboard" (click)="onNextChord()">
		<ng-container *ngFor="let note of notes">
			<li [ngClass]="{key: note.key, play: note.play}" [className]="note.colorClass()">{{note.description}}</li>
		</ng-container>

	</ul>
	<div id="options">
		<h1 class="text-center">{{currentKey.description}}{{currentChord.name}} ({{currentChord.description}})</h1>
		<p>Options</p>
		<form>
			<fieldset style="float: left;">
				<legend>Keys</legend>
				<ng-container *ngFor="let key of keys">
					<input type="checkbox" [(ngModel)]="key.selected" [ngModelOptions]="{standalone: true}">{{key.description}}<br />
					<!-- <input type="checkbox" name="key" [checked]="key.selected" >{{key.description}}<br/> -->
				</ng-container>
			</fieldset>

			<fieldset style="float: left;">
				<legend>Practice chords</legend>
				<ng-container *ngFor="let chord of chords">
					<input type="checkbox" [(ngModel)]="chord.selected" [ngModelOptions]="{standalone: true}">{{chord.description}}<br />
				</ng-container>
			</fieldset>
		</form>
	</div>
</div>